
### Definitions of common functions utilized in code below

In [1]:

##  Definitions of all common functions being utilized below

def log_msg(message):   # lightweight logging to screen if DEBUG variable is defined and set to true
    is_debug_on = locals().get("DEBUG", globals().get("DEBUG", False))
    if is_debug_on:
        print(message)

## Find Minimum and Maximum of a List

### Explanation:

When you have a list of numbers, sometimes you want to know the **smallest number** (called the *minimum*) and the **largest number** (called the *maximum*) in that list.
For example, in the list `[5, 8, 2, 10, 3]`, the smallest number is `2` and the largest number is `10`.

Finding the minimum and maximum is useful in many real-world cases. For example:

* In exam scores, the minimum score shows the lowest marks obtained by a student, and the maximum shows the highest marks.
* In weather data, the minimum temperature tells the coldest reading of the day, and the maximum shows the hottest reading.

---

### Exercise:

Write a function `find_min_max(numbers)` that takes a list of numbers as input and returns a tuple `(minimum, maximum)`.

---

### Example:

```python
find_min_max([5, 8, 2, 10, 3])  
# Output: (2, 10)

find_min_max([7, 7, 7, 7])  
# Output: (7, 7)

In [2]:
def find_min_max_numbers(numbers_list):
    min_number = 0
    max_number = 0
    
    for i in numbers_list:
        if i <= min_number or min_number == 0:
            min_number = i
        elif i >= max_number :
            max_number = i

    return min_number, max_number

In [3]:
find_min_max_numbers([10,35,3,6,15,21])

(3, 35)

## Min-Max Normalization

### Explanation:

When we have numbers that are very different in scale (like exam scores out of 100 and salaries in thousands), it becomes hard to compare them directly.
**Min-Max Normalization** is a way to rescale numbers so that they fall in a fixed range, usually **0 to 1**.

The formula is:

$$
\text{normalized value} = \frac{(x - \min)}{(\max - \min)}
$$

* `x` = the original value
* `min` = the smallest value in the dataset
* `max` = the largest value in the dataset

For example, if your dataset is `[10, 20, 30]` and you want to normalize `20`:

$$
\frac{20 - 10}{30 - 10} = \frac{10}{20} = 0.5
$$

So the normalized value is **0.5**.

---

### Exercise:

Write a function `min_max_normalize(value, data)` that:

* Takes two inputs:

  * `value`: the number you want to normalize
  * `data`: a list of numbers (dataset)
* Returns the normalized value of `value` using min-max normalization.

---

In [4]:
def min_max_normalize( original_value, dataset ):
    minimum, maximum = find_min_max_numbers( dataset)

    log_msg(f"Minimum : {minimum}, Maximum : {maximum}")
    normalized_value = (original_value - minimum) / (maximum - minimum)
    return normalized_value

In [5]:
DEBUG=True

normalized_value = min_max_normalize( 20, [10, 20, 30] )
print(normalized_value)

normalized_value = min_max_normalize( 5, [2, 10, 60, 100, 1000, 45, 75] )
print("%.7f" % normalized_value)

Minimum : 10, Maximum : 30
0.5
Minimum : 2, Maximum : 1000
0.0030060

## Extra exercise in Normalization
### Imagine : 
Imagine Scoring marks for CAT is in a range from :   1 to 500  
Imagine Scoring marks for GMAT is in a range from :  1 to 200  

5 students appeared for CAT and 5 for GMAT.  Normalize their scores so that they can be ranked against each other.  

gmat_scores = [ 120, 190, 80, 150, 160 ]  -- scores of 5 students who appeared for GMAT  
cat_scores = [ 450, 300, 275, 480, 425 ]  -- scores of 5 students who appeared for CAT

In [6]:

# Later on convert the lists below as dictionary with Student name & score as name value pairs
# Then list and rank them together using their normalized scores

gmat_scores = [ 120, 190, 80, 150, 160 ]
cat_scores = [ 450, 300, 275, 480, 425 ]

min, max = find_min_max_numbers(gmat_scores)
print(f"GMAT scores :  Min : {min},   Max : {max}")
for i in gmat_scores:
    normalized_value = min_max_normalize(i, gmat_scores)
    print(f"    Original value : {i},  Normalized Value : {normalized_value}")

min, max = find_min_max_numbers(cat_scores)
print(f"CAT scores :  Min : {min},   Max : {max}")
for i in cat_scores:
    normalized_value = min_max_normalize( i, cat_scores )
    print(f"    Original value : {i},  Normalized Value : {normalized_value}")

GMAT scores :  Min : 80,   Max : 190
Minimum : 80, Maximum : 190
    Original value : 120,  Normalized Value : 0.36363636363636365
Minimum : 80, Maximum : 190
    Original value : 190,  Normalized Value : 1.0
Minimum : 80, Maximum : 190
    Original value : 80,  Normalized Value : 0.0
Minimum : 80, Maximum : 190
    Original value : 150,  Normalized Value : 0.6363636363636364
Minimum : 80, Maximum : 190
    Original value : 160,  Normalized Value : 0.7272727272727273
CAT scores :  Min : 275,   Max : 480
Minimum : 275, Maximum : 480
    Original value : 450,  Normalized Value : 0.8536585365853658
Minimum : 275, Maximum : 480
    Original value : 300,  Normalized Value : 0.12195121951219512
Minimum : 275, Maximum : 480
    Original value : 275,  Normalized Value : 0.0
Minimum : 275, Maximum : 480
    Original value : 480,  Normalized Value : 1.0
Minimum : 275, Maximum : 480
    Original value : 425,  Normalized Value : 0.7317073170731707

## *Compute Mean of a List of Numbers*

**Explanation:**
The *mean* (often called the *average*) of a list of numbers is found by adding up all the numbers and then dividing by how many numbers there are.
For example, if we have the numbers `[2, 4, 6, 8]`, the sum is `2 + 4 + 6 + 8 = 20`.
There are `4` numbers in the list.
So, the mean is `20 / 4 = 5`.

This is a useful way to find the central value of a group of numbers.  
---

**Exercise:**
Write a function `compute_mean(numbers)` that takes a list of numbers and returns their mean (average).
If the list is empty, return `0`.

---

**Example:**

```python
compute_mean([2, 4, 6, 8])      # Output: 5.0
compute_mean([10, 20, 30])      # Output: 20.0
compute_mean([])                # Output: 0
```

In [7]:
def compute_mean(num_list):
    sum = 0
    num_entries = len(num_list) if len(num_list) > 0 else 1
    for i in num_list:
        sum += i

    return (sum / num_entries)

In [8]:
print( compute_mean([2, 4, 6, 8]) )     # Output: 5.0
print( compute_mean([10, 20, 30]) )     # Output: 20.0
print( compute_mean([]) )               # Output: 0

5.0
20.0
0.0

## *Compute Standard Deviation (SD) of a List of Numbers*

**Explanation:**
The *standard deviation* (SD) is a way to measure how spread out numbers are in a list.

* If the numbers are very close to each other, the SD will be small.
* If the numbers are spread far apart, the SD will be large.

To compute the SD:

1. Find the *mean* (average) of the numbers.
2. Subtract the mean from each number and square the result.
3. Find the average of these squared differences.
4. Take the square root of that value.

For example, for the list `[2, 4, 4, 4, 5, 5, 7, 9]`:

* Mean = 5
* Squared differences = \[9, 1, 1, 1, 0, 0, 4, 16]
* Average of squared differences = 4
* Standard Deviation = âˆš4 = 2

---

**Exercise:**
Write a function `compute_sd(numbers)` that takes a list of numbers and returns the standard deviation.

---

**Example:**

```python
compute_sd([2, 4, 4, 4, 5, 5, 7, 9])   # Output: 2.0
compute_sd([10, 10, 10, 10])           # Output: 0.0

In [9]:
def compute_sd( num_list ):
    mean = compute_mean(num_list)
    squared_list = []
    for i in num_list:
        squared_list.append( (i - mean) ** 2)

    return ( compute_mean(squared_list) ** 0.5 )

In [10]:
print( compute_sd([2, 4, 4, 4, 5, 5, 7, 9]) )   # Output: 2.0
print( compute_sd([10, 10, 10, 10]) )           # Output: 0.0

2.0
0.0